<app-header></app-header>
<div class="main">
  <div class="landing__container">
    <div class="landing__left">
      <div class="subtitle">Your journey begins here...</div>
      <h1 class="head__one">
        The Beauty of the African <span> Experience </span>
      </h1>
      <div class="button">
        <button routerLink="" class="btn__primary"> Explore More </button>
      </div>
    </div>
    <div class="landing__right">
      <img src="../../../assets/pet-img.png" alt="" />
    </div>
  </div>
</div>
