<app-header></app-header>
<div class="welcome__main bg__welcome">
  <div class="main">
    <div class="welcome__container">
        <div class="subtitle">Welcome,</div>
        <div class="heading">Temi</div>
        <p class="paragraph">
          Petstarn is an online platform (consisting of both an online website
          and a mobile application) that provides a seamless pet service for
          customers.
        </p>
      <div class="button">
     
        <button class="btn__primary" routerLink="/list-pets">List all Pets</button>
      </div>
    
    </div>
  </div>
</div>
