<app-header></app-header>
<div class="list__main">
    <div class="top">
        LIST PETS
    </div>
    <div class="main">
        <div class="card__list">
            <div class="card__body">
                <div class="card__left">
                    <div class="card__img">
                        <img src="../../../assets/pet-img.png" alt="">
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__title">
                        Catro Dante
                    </div>
                    <div class="card__status">
                        available
                    </div>
                </div>
            </div>
            <div class="card__body">
                <div class="card__left">
                    <div class="card__img">
                        <img src="../../../assets/pet-img.png" alt="">
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__title">
                        Catro Dante
                    </div>
                    <div class="card__status">
                        available
                    </div>
                </div>
            </div>
            <div class="card__body">
                <div class="card__left">
                    <div class="card__img">
                        <img src="../../../assets/pet-img.png" alt="">
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__title">
                        Catro Dante
                    </div>
                    <div class="card__status">
                        available
                    </div>
                </div>
            </div>
            <div class="card__body">
                <div class="card__left">
                    <div class="card__img">
                        <img src="../../../assets/pet-img.png" alt="">
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__title">
                        Catro Dante
                    </div>
                    <div class="card__status">
                        available
                    </div>
                </div>
            </div>
            <div class="card__body">
                <div class="card__left">
                    <div class="card__img">
                        <img src="../../../assets/pet-img.png" alt="">
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__title">
                        Catro Dante
                    </div>
                    <div class="card__status">
                        available
                    </div>
                </div>
            </div>
            <div class="card__body">
                <div class="card__left">
                    <div class="card__img">
                        <img src="../../../assets/pet-img.png" alt="">
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__title">
                        Catro Dante
                    </div>
                    <div class="card__status">
                        available
                    </div>
                </div>
            </div>
            <div class="card__body">
                <div class="card__left">
                    <div class="card__img">
                        <img src="../../../assets/pet-img.png" alt="">
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__title">
                        Catro Dante
                    </div>
                    <div class="card__status">
                        available
                    </div>
                </div>
            </div>
            <div class="card__body">
                <div class="card__left">
                    <div class="card__img">
                        <img src="../../../assets/pet-img.png" alt="">
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__title">
                        Catro Dante
                    </div>
                    <div class="card__status">
                        available
                    </div>
                </div>
            </div>
            <div class="card__body">
                <div class="card__left">
                    <div class="card__img">
                        <img src="../../../assets/pet-img.png" alt="">
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__title">
                        Catro Dante
                    </div>
                    <div class="card__status">
                        available
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>